body{
    background-color: rgb(219, 233, 246);
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
   
    list-style-type: none;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    height: 7vmin;
    width: 7vmin;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
padding: 34px;
background-image: url('./essentia/pics/bg.jpg');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.bottom{
    position: sticky;
    height: 12vmin;
    background-color: black;
    bottom:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
   
    


}
.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myprogressbar{
    width: 80vw;
}
